version: '3'
services:
  api:
    container_name: gin-todo-api
    build: ./infra/api/go
    tty: true
    volumes:
      - ./api:/var/www
    ports:
      - "3000:3000"
      - "9000:9000"
  db:
    container_name: gin-todo-db
    image: mysql:5.7
    ports:
      - "3306:3306"
    volumes:
      - ./data/db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gin_todo
      MYSQL_USER: gin_todo
      MYSQL_PASSWORD: root